<!DOCTYPE html>
<html lang="pt-br">
<head>
  {%include 'global/partials/_head.html' %}
</head>
<body>

  {%include 'global/partials/_nav.html' %}

      <div class="container">    
        <div class="row">
  
          <div class="card-consultar-chamado">
            <div class="card">
              <div class="card-header">
                {{titulo}}
              </div>
              
              <div class="card-body">
                
                {%block content%} 
        
                {%endblock%}

                {% include "global/partials/_paginator.html" %}
  
                
              </div>
            </div>
          </div>
        </div>
      </div>

      
</body>
</html>