{% extends "global/base.html" %}

{% block content %}
<div class="card mb-10 bg-light">
    <div class="card-body">
        <h4 class="card-title"><b>{{calls.title}}</b></h4>
        <h6 class="card-subtitle mb-2 text-muted">{{calls.category}}</h6>
        <p class="card-text">{{calls.description}}</p>
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-check"></i>
        </button>
        <button type="button" class="btn btn-info">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
    </div>
</div>
{% endblock content %}
