{% extends "global/base.html" %}

{% block content %}
  <div class="card-body">
    <div class="row">
      <div class="col">
        
        <form action="{{form_action}}" method="POST">

          {% csrf_token %}
          <div class="form-content">
          {% for field in form  %}
          <div class="form-group">
            <label>{{field.label}}</label>
            {{field}}

            {{field.errors}}
          </div>
          {% endfor %}
        </div>

        <div class="row mt-5">
          <div class="col-6">
            <a  href="" class="btn btn-lg btn-secondary btn-block">Voltar</a>
          </div>

          <div class="col-6">
            <button class="btn btn-lg btn-info btn-block" type="submit">Cadastrar</button>
          </div>
        </div>

        {% if form.non_field_errors %}
          <div class="form-content">
            <div class="form-group">
                <div class="">
                  {{form.non_field_errors}}
                </div>
            </div>
          </div>
        {% endif %}
        
      </form>

      </div>
    </div>
  </div>
{% endblock content %}