{%load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <!-- Logo -->
    <a href="" class="navbar-brand"><img src="{% static 'global/image/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        
    <div class="collapse navbar-collapse" id="navegacao2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Listar</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Logar</a>
            </li>
        </ul>
        	

            <!-- Formulário -->
        <form class="form-inline" method="get" action="{% url 'helpdesk:search' %}">
            <input type="text" class="form-control" placeholder="pesquisar..." id="search" name="q" value="{{search_value}}">
            <button class="btn btn-outline-primary">ok</button>
        </form>

      </div>
        
  </nav>